<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>word編集</title>
	<script th:src="@{/js/form.js}" defer></script>

</head>

<body>
	<h1>word編集</h1>
	<p th:if="${word_duplicate} != null" th:text="${word_duplicate}"></p>
	<form th:action="@{/words/{id}/editConfirm(id=${word.id})}" method="post">
		<table th:object="${wordForm}">
			<tr>
				<th>word</th>
				<td>
					<input type="text" th:field="*{wordName}">
					<span th:errors="*{wordName}"></span>
				</td>
			</tr>
			<tr>
				<th>content</th>
				<td>
					<textarea th:field="*{content}"></textarea>
					<span th:errors="*{content}"></span>
				</td>
			</tr>
			<tr>
				<th>category</th>
				<td>
					<select th:field="*{categoryId}" required>
						<option value="">カテゴリを選択</option>
						<option th:each="category : ${categories}" 
								th:value="${category.id}" 
								th:text="${category.name}">
						</option>
					</select>
					<span th:errors="*{categoryId}"></span>
					<span>または新しいカテゴリーをつくる
						<input type="text" th:field="*{categoryName}">
					</span>
					<span th:errors="*{categoryNotNull}"></span>
				</td>
			</tr>
			<tr>
				<th>related_words</th>
				<td>
					<ul>
						<li th:each="relatedWordName : ${relatedWordNames}" th:text="${relatedWordName}"></li>
					</ul>
					<select multiple th:field="*{relatedWordIds}">
					    <option th:each="relatedWord : ${wordList}" 
								th:if="${relatedWord.id} != ${word.id}"
					            th:value="${relatedWord.id}" 
					            th:text="${relatedWord.wordName}">
					    </option>
					</select>
				</td>
			</tr>
		</table>
		<input th:if="${fromRegist}" type="hidden" name="fromRegist" value="${fromRegist}">
		<button type="submit">入力内容の確認</button>
	</form>
	<!-- 新規登録からの遷移の場合、戻るボタンは 登録画面へ -->
	<form th:if="${fromRegist}" th:action="@{/registConfirm}" method="post" th:object="${wordForm}">
		<input type="hidden" th:field="*{wordName}">
		<input type="hidden" th:field="*{content}">
		<input type="hidden" th:field="*{categoryId}">
		<input type="hidden" th:field="*{relatedWordIds}">
		<button>登録確認に戻る</button>
	</form>
	<!-- 編集からの遷移の場合、戻るボタンはword一覧へ-->
	<form th:unless="${fromRegist}" th:action="@{/wordList}">
		<input type="hidden" th:field="${wordForm.categoryId}">
		<input type="hidden" th:field="${word.id}">
		<button>word一覧へ</button>		
	</form>
</body>
</html>