<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/login.css}">

</head>

<body>
	<h1>ログイン</h1>
	<form class="commonForm" th:action="@{/login}" method="post">
		<div class="inputContainer">
			<label>ユーザ名：<input type="text" name="username" autofocus value="a"></label>
			<label>パスワード：<input type="password" name="password" value="test1234"></label>
		</div>
		<button type="submit">ログイン</button>
	</form>
</body>

</html>.