<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録確認</title>
</head>
<body>
	<h1>登録確認</h1>
	<p><span th:text="${word.name}"></span>はすでに登録されています。</p>
	    <table th:object="${word}">
	        <tr>
	            <th>word</th>
	            <td th:text="*{name}"></td>
	        </tr>
	        <tr>              
	            <th>content</th>
	            <td th:text="*{name}"></td>
	        </tr>
	        <tr>
	            <th>category</th>
	            <td th:text="*{category.name}"></td>
	        </tr>               
	    </table>
	<a th:href="@{/registCancel}">新規登録をキャンセルする</a>
	<form th:action="@{/wordDetail/{id}/editForm(id=${word.id})}" method="post">
		<button type="submit">登録内容を編集する</button>		
	</form>
	<a th:href="@{/wordDetail/{id}(id=${word.id})}">wordDetailへ戻る</a>
</body>
</html>