<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	
	<title>単語の登録</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/regist_form.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<script th:src="@{/js/regist_form.js}" defer></script>
	<script th:src="@{/js/form.js}" defer></script>
</head>

<body>
	<h1>新規登録</h1>
	<form class="commonForm" th:action="@{/wordbooks/{wordbookId}/wordList/registConfirm(wordbookId=${wordbookId})}" method="post" th:object="${wordForm}">
		<input type="hidden" th:field="*{id}">
		<input type="hidden" th:field="*{wordbookId}">

		<div class="row">
			<label for="wordName">単語</label>
			<div class="inputContainer">
				<input type="text" th:field="*{wordName}" autofocus>
				<div class="error">
					<div th:if="${#fields.hasErrors('wordName')}">
						<div>
							<span class="bi bi-exclamation-circle-fill"></span>
							<a th:if="${existingWord} != null" href="#" id="existingWordLink">
								<span th:text="${existingWord.wordName}"></span>
								<span class="bi bi-caret-down-fill switcher"></span>
							</a>
							<span th:errors="*{wordName}"></span>
						</div>

					</div>
					<!-- 既存wordの詳細（クリックイベントで表示させる） -->
					<div th:if="${existingWord != null}" class="existingWordDetail" th:object="${existingWord}">
						<div class="wordNameContainer">
							<div class="wordName" th:text="*{wordName}"></div>
							<a th:href="@{/words/{id}/editForm(id=${existingWord.id},fromRegist='fromRegist')}"
								class="button editBtn">
								<span class="bi bi-pencil-fill"></span>
							</a>
						</div>
						<div class="category">
							<span>カテゴリ：</span><span th:text="*{category.name}"></span>
						</div>
						<div class="content" th:text="*{content}"></div>
						<div class="relatedWords">
							<span>参照：</span>
							<ul>
								<li th:each="relatedWord : *{relatedWords}" th:text="${relatedWord.wordName}"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<label for="categoryId">カテゴリ</label>
			<div class="inputContainer">
				<div id="categoryInputContainer">
					<div>
						<div><label for="categoryId">カテゴリ一覧から選ぶ</label></div>
						<select th:field="*{categoryId}">
							<option value="">選択してください</option>
							<option th:each="category : ${categories}" th:value="${category.id}"
								th:text="${category.name}">
							</option>
						</select>
					</div>
					<div>
						<div><label for="categoryName">または新規作成<span class="bi bi-plus-circle-fill"></span></label>
						</div>
						<input type="text" th:field="*{categoryName}">
					</div>
				</div>
				<div class="error">
					<span th:if="${#fields.hasErrors('categoryNotNull')}" class="bi bi-exclamation-circle-fill"></span>
					<span th:errors="*{categoryNotNull}"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<label for="content">内容</label>
			<div class="inputContainer">
				<textarea th:field="*{content}"></textarea>
				<div class="error">
					<span th:if="${#fields.hasErrors('content')}" class="bi bi-exclamation-circle-fill"></span>
					<span th:errors="*{content}"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<label for="relatedWordIds">関連語</label>
			<div class="inputContainer">
				<select multiple th:field="*{relatedWordIds}">
					<option th:each="word : ${wordList}" th:value="${word.id}" th:text="${word.wordName}">
					</option>
				</select>
				<div class="error">
					<span th:if="${#fields.hasErrors('relatedWordIds')}" class="bi bi-exclamation-circle-fill"></span>
					<span th:errors="*{relatedWordIds}"></span>
				</div>
			</div>
		</div>
		<button id="registConfirmBtn">入力内容の確認</button>

	</form>

	<a id="return" class="button" th:href="@{/wordbooks/{wordbookId}/wordList(wordbookId=${wordbookId})}">一覧へ戻る</a>

</body>

</html>