<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>単語の登録</title>
</head>

<body>
	<h1>新規登録</h1>
	<form th:action="@{/registConfirm}" method="post">
		<table th:object="${wordForm}" border="1">
			<tr>
				<th>word</th>
				<td>
					<input type="text" th:field="*{wordName}">
					<span th:errors="*{wordName}"></span>
				</td>
			</tr>
			<tr>
				<th>content</th>
				<td>
					<textarea th:field="*{content}"></textarea>
					<span th:errors="*{content}"></span>
				</td>
			</tr>
			<tr>
				<th>category</th>
				<td>
					<select th:field="*{categoryId}">
						<option value="">カテゴリを選択</option>
						<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
						</option>
					</select>
					<p>または新しいカテゴリーをつくる<input type="text" th:field="*{categoryName}"></p>
					<span th:errors="*{categoryNotNull}"></span>
				</td>
			</tr>
			<tr>
				<th>relatedWords</th>
				<td>
					<select multiple th:field="*{relatedWordIds}">
					    <option th:each="word : ${wordList}" 
					            th:value="${word.id}" 
					            th:text="${word.wordName}">
					    </option>
					</select>	
					<span th:errors="*{relatedWordIds}"></span>
				</td>
			</tr>
		</table>
		<button>登録内容の確認</button>
	</form>
	<a th:href="@{/wordList}">一覧へ戻る</a>
</body>

</html>