<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>単語一覧</title>
</head>
<body>
	<div th:if="${regist_ok} != null" th:text="${regist_ok}"></div>
	<div th:if="${delete_ok} != null" th:text="${delete_ok}"></div>
	<div th:if="${edit_ok} != null" th:text="${edit_ok}"></div>
    <h1>word一覧</h1>
    <ul>
        <li th:each="word : ${wordList}">
			<a th:href="@{/wordDetail/{id}(id=${word.id})}" 
			   th:text="${word.name}"></a>
		</li>
    </ul>
</body>
</html>