<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>単語一覧</title>
	<link rel="stylesheet" th:href="@{/css/word_list.css}">
	<script th:src="@{/js/word_list.js}" defer></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>

<body>
	<a th:href="@{/showWordForm}">word新規登録画面へ</a>

	<h1>単語帳</h1>
	<div th:if="${regist_ok} != null" th:text="${regist_ok}"></div>
	<div th:if="${delete_ok} != null" th:text="${delete_ok}"></div>
	<div th:if="${edit_ok} != null" th:text="${edit_ok}"></div>
	<div th:if="${regist_cancel} != null" th:text="${regist_cancel}"></div>

	<div class="mainContainer">
		<!-- categoryList -->
		<div class="categoryContainer">
			<h3>カテゴリ</h3>
			<ul id="categoryList">
				<li th:each="category : ${categories}" th:object="${category}">
					<button class="categoryBtn" th:text="*{name}" th:attr="data-id=*{id}"></button>
				</li>
			</ul>
		</div>

		<!-- wordList -->
		<div class="wordListContainer">
			<h3>単語</h3>
			<ul id="wordList">
			</ul>
			<div id="wordListNullMsg"></div>
		</div>

		<!-- wordDetail -->
		<div class="wordDetailContainer">
			<div class="wordDetailHidden">
				<div id="detail-wordName"></div>
				<div id="categoryContainer">
					<span>カテゴリ:</span>
					<span id="detail-category"></span>
				</div>
			</div>
			<div id="detail-content"></div>
			<div id="detail-relatedWords">
				<span class="reference referenceHidden">参照：</span>
				<ul id="relatedWordList"></ul>
			</div>
			<div id="editBtnContainer"></div>
		</div>
	</div>
	</div>
</body>

</html>