@charset "UTF-8";
h1{
	font-size: 2rem;
	padding:2rem;
}
/* form全体 */
.registForm{
	width: 80%;
	max-width: 1100px;
	min-width: 600px;
	background-color: var(--container-bg-color);
	border: 1px solid var(--line-color);
	border-radius: 10px;
	padding: 2rem;
}
/* formの1行分 */
.row{
	display:grid;
	grid-template-columns: 15% 1fr;
	padding: 0.2rem 0;
	align-items: start;
	column-gap: 2rem;
}
/* formの1行の右側 */
.row label{
	font-weight: bold;
	font-size: 1rem;
	color: var(--main-text-color);
	text-align: right;
}
/* formの1行の左側 */
.inputContainer{
	padding:0 0.3rem;
	width:100%;
}
/* error */
.error {
	margin-bottom: 0.5rem;
	color: red;
	font-size: 0.8rem;
	min-height: 0.9rem;
}
.error span:empty::after {
	content: " ";
	display: inline-block;
	visibility: hidden;
}

/* category */
#categoryInputContainer{
	display:grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2rem;
	width: 100%;
}
#categoryId,
#categoryName{
	padding: 0.1rem;
	border: 1px solid var(--line-color);
	border-radius: 5px;
	font-size: 0.9rem;
	width: 100%;
}
#categoryInputContainer label{
	font-size: 0.8rem;
	font-weight: normal;
}
/* category以外 */
#wordName,
#content,
#relatedWordIds {
	padding: 0.1rem;
	border: 1px solid var(--line-color);
	border-radius: 5px;
	font-size: 0.9rem;
	width: 100%;
}
#content {
	min-height: 10rem;
	resize: vertical;
}
/* 重複wordの表示 */
#existingWordLink {
	color: red;
	cursor: pointer;
	text-decoration: none;
}
#existingWordLink:hover {
	color: rgb(145, 32, 22);
}
.existingWordDetail{
	display: none;	
	margin-top: 0.5rem;
	padding: 1rem;
	border: 1px solid var(--line-color);
	border-radius: 10px;
	background-color: #f5dede;
	color:var(--main-text-color);
	width: 100%;
}
.existingWordDetailVisible{
	display:block;
}
.wordNameContainer{
	display: flex;
	justify-content: space-between;
}
.wordName{
	font-size: 2rem;
}
.content{
	font-size: 1rem;
	border-top: 2px solid var(--line-color);
	border-bottom: 2px solid var(--line-color);
	padding: 2rem;
}
.category{
	font-size: 0.7rem;
}
.relatedWords{
	font-size: 0.7rem;
}
.relatedWords ul{
	display:inline-block;
	list-style: none;
	padding-left: 0;
}
.relatedWords ul li{
	display:inline-block;
	padding-right: 20px;
}
.editBtn{
	padding: 0.6rem;
	font-size: 1rem;
}
/* 登録確認ボタン */
#registConfirmBtn {
	width: 30%;
	padding: 0.6rem 1.5rem;
	display: block;
	margin:  0 auto;
	font-size: 0.8rem;
}
/* 戻るボタン */
#return{
	display:block;
	margin:2rem;
	padding: 0.6rem 1.5rem;	
	font-size: 0.8rem;
	background-color: var(--container-bg-color);
	color: var(--main-text-color);
	border:1px solid var(--main-text-color);
}
#return:hover{
	background-color: var(--hover-bg-color);
	color:var(--container-bg-color);
	border: 1px solid var(--container-bg-color);
}