@charset "utf-8";
body {
	margin: 0;
	padding: 5%;
	background-color: #e5e5ee;
	box-sizing: border-box;
	color:#304755;
}
.deleteBtnHidden {
	display: none;
}
.deleteBtnVisible {
	display: inline;
}
.wordDetailHidden {
	display: none;
}
.wordDetailVisible {
	display: inline;
}
.referenceHidden{
	display: none;
}
.referenceVisible{
	display: inline;
}

.mainContainer {
	display: flex;
}
.categoryContainer,
.wordListContainer,
.wordDetailContainer{
	margin:1px;
	background-color: white;
}
.categoryContainer {
	width: 25%;
}
.wordListContainer {
	width: 25%;

}
.wordDetailContainer {
	width: 50%;
	padding: 3%;
}
#wordList,
#categoryList {
	padding: 0%;
	border:1px solid white;

}
#wordList li,
#categoryList li {
	list-style: none;
	background-color: white;
	margin: 0;
	padding: 0;
	height: 40px;
}
.wordBtn,
.categoryBtn{
	width: 100%;
	height:100%;
	padding: 10px;
	text-align: left;
	background-color: white;
	color:#304755;
	border: none;
	border-radius: 0%;
	cursor: pointer;
	font-size: 16px;
}
#categoryList li,
#wordList li{
	display: flex;
}

.wordBtn:hover,
.categoryBtn:hover,
.wordBtnSelected,
.categoryBtnSelected {
	background-color: #777499;
	color: white;
	border:1px solid #768994;

}
.categoryDeleteBtn,
.wordDeleteBtn{
	background-color: white;
	border: none;
	color:#777499;
	border:5px solid #777499;
	font-size: 16px;
	cursor: pointer;
}
.categoryDeleteBtn:hover,
.wordDeleteBtn:hover{
	background-color: #e5e5ee;
	color:#474466;
	border:5px solid #777499;
}

#detail-content,
#detailReference,
#editBtnContainer{
	margin:3%;
}
#detail-wordName{
	font-size: 28px;
}
#categoryContainer{
	font-size: 14px;
}
#relatedWords{
	display:inline-block;
}
